<% unless current_user %>
  <%= link_to 'sign in', new_user_session_path %> |
  <%= link_to 'Sign up', new_user_registration_path %><br />
<% else %>
  <p>Signed in as <%= current_user.email %></p>
  <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %><br />
  <%= link_to('Cart', cart_path(@user.current_cart)) unless @user.current_cart.nil? %>
<% end %>

<% @categories.each do |category| %>
  <%= link_to category.title, category_path(category) %>
<% end %>

<% @items.each do |item| %>
  <p><%= item.title %> | <%= "$#{item.price.to_f/100}" %> | <%= "In Stock: #{item.inventory}"%> | <%= button_to 'Add to Cart', line_items_path(item_id: item) unless current_user.nil? %></p>
<% end %>
